/* ===== VARIABLES CSS ===== */

/* ===== Colors ===== */
/* ===== Primarios ===== */
$yellow_main: #ffff01;
$black_main: #000000;
$white_main: #ffffff;
$gray_main: #343434;

/* ===== Secundarios ===== */
$dark_gray: #87868a;
$normal_gray: #aeadb3;


/* ===== Fonts ===== */
@import './typography'
