.content__ModalEdit {
  background-color: white;
  color: black;
  font-family: "Avenir_Black";

  input {
    border-radius: 2rem;
    margin: 1rem;
  }

  textarea {
    margin: 13.7674px 12.7778px 12.7778px;
    width: 15rem;
    height: 8rem;
  }

  img {
    width: 5rem;
    border: 1px solid gray;
    border-radius: 1rem;
  }

  .submit {
    border-radius: 20px;
    border: 1px solid #ffff01;
    background-color: #ffff01;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin: 1rem;
    cursor: pointer;
    transition: 0.4s all;

    &:hover {
      background-color: #ebeb12;
      transform: scale(1.01);
      border: 1px solid black;
      box-shadow: 1px 1px 1px 1px rgb(185, 184, 184);
    }
  }
}
