body {
    background: linear-gradient(rgba(30, 27, 38, 0.95), rgba(30, 27, 38, 0.95));
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.content__ViewMovies {
    text-align: -webkit-center;

    .contain_modal{
        top: 12%;
        left: 36%;
        border-radius: 1rem;
        position: absolute;
    }

    .title_column {
        max-width: 44rem;
        background: white;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        color: black;
        font-size: 3rem;
    }

    .row_view {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        border: 1px solid white;
        border-bottom-right-radius: 3rem;
        border-bottom-left-radius: 3rem;
        padding: 2rem;
        max-width: 40rem;

        .column_one {
            // grid-column: 1/3;
            grid-row: 1;
            max-width: 20rem;
            max-height: 40rem;
            overflow-y: auto;
            overflow-x: hidden;
            border-right: 1px solid gray;

            .title {
                color: #979cb0;
                font-weight: 600;
                font-size: 20px;
                letter-spacing: 0.64px;
                margin-left: 12px;
                font-weight: 700;
            }

            .release {
                font-size: 0.7rem;
                color: mediumspringgreen;
                // color: #35d8ac;
                font-weight: 700;
                // font-size: 34px;
                // text-align: right;
            }

            .card_movie {
                padding: 1rem 1rem 1rem 1rem;
                cursor: pointer;
                transition: 0.5s all;

                &:hover {
                    transform: scale(1.2);
                    background: rgba(255, 253, 253, 0.18);
                    box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
                }
            }
        }

        .column_two {
            grid-column: 2/3;
            grid-row: 1;

            .title_detail {
                font-size: 3rem;
            }

            img {
                border-radius: 1rem;
                width: 14rem;
            }
        }
    }
}

.back_drop{
    opacity: 0.2;
}